<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update if required -->
    <add key="targetSiteUrl" value="https://cptclassroom1.sharepoint.com/sites/EricClaptonTeamSite" />
    <add key="siteUser" value="instructor@CptClassroom1.onMicrosoft.com" />
  </appSettings>
</configuration>