body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* add these CSS styles to the end of site.css */

body
{
  margin: 0px;
  background-image: url(img/background.png);
  background-repeat: repeat;
  background-size: auto;
}

.navbar-inverse .navbar-nav > li > a:link, .navbar-inverse .navbar-nav > li > a:visited, .navbar-inverse .navbar-brand
{
  font-weight: bold ;
  color: #FFCC00 ;
}
.navbar-inverse .navbar-nav > li > a:hover
{
  color:#FFFFFF
}
  #topHeader h2
  {
    margin: 0px;
    font-size: 32px;
    color: #990033;
  }

  #contentBody h2
  {
    color: #333;
    font-size: 18px;
  }

  #contentBody a
  {
    border: 1px solid #AAA;
    background-color: #FFEEAA;
    color: #990033;
    font-size: 12px;
    text-decoration: none;
    border-radius: 6px;
    padding: 0px 12px 1px 12px;
  }
