body {
  background-color: #999;
  padding: 0px;
  margin: 0px;
  background-image: url('zzimg/RainyWindow.jpg');

}


#page_width {
  width: 960px;
  margin: auto;
  min-height: 600px;
  background-color: white;
  border: 1px solid black;
  border-top-style: none;
}

#content_body {
  border-top: 1px solid black;
  padding: 8px;
}

#page_header {
  height: 72px;
}

#site_logo {
  float: left;
  background-image: url("img/SiteIcon.gif");
  width: 75px;
  height: 75px;
}

#site_title {
  margin: 0px;
  margin-top: 12px;
  float: left;
  font-size: 40px;
  color: #000;
}

#toolbar {
  margin: 0px;
  padding: 6px;
  background-color: #CC6633;
  border: 1px black solid;
}

#toolbar .ui-button {
  font-size: 12px;
  color: #990033;
}



#content_box {
  padding: 0px;
  min-height:600px;
}

#customersTable {
  background-color: #999;
  border-collapse: collapse;
  font-size: 14px;
  width:100%
}

 #customersTable a img {
    text-decoration: none;
    border-style: none;
  }


  #customersTable thead td {
    background-color: black;
    color: White;
  }

  #customersTable td {
    color: #222;
    border: 1px black solid;
    padding: 4px;
    background-color: White;
    border-collapse: collapse;
  }

#customer_dialog
{
  font-size: 14px;
}

#customer_dialog input {
  width:480px;
}


.dialog_input_section {
  padding-top: 4px;
}

.dialog_input_section_title {
  margin-top: 8px;
  color: black;
  border-bottom: solid black 1px;
  margin-bottom: 8px;
}

.dialog_button_section {
  margin-top: 16px;
  border-top: solid #CCC 2px;
  padding-top: 8px;
  text-align: right;
}
