<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WingtipCustomersDB" connectionString="metadata=res://*/WingtipCustomersDB.csdl|res://*/WingtipCustomersDB.ssdl|res://*/WingtipCustomersDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WingtipServer;initial catalog=WingtipCustomersDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>