<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <appSettings>
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="iz6B9OnmPoRHDxVIhix74PBx88DePoz/xpdeah04tjQ=" />
   </appSettings>
 <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding">
          <security mode ="Transport"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding ="basicHttpBinding" bindingConfiguration="secureBinding" scheme="https"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
