<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update if required -->
    <add key="targetSiteUrl" value="https://classroombbs365.sharepoint.com/sites/billlu_teamsite" />
    <add key="siteUser" value="admin@classroombbs365.onmicrosoft.com" />
  </appSettings>
</configuration>